<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Web Order</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="{{ url_for('static', filename='images/muscle.ico') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    {% endblock %}
</head> 
<body>
    <nav>
        <a href="{{ url_for('main.index') }}"> Main </a>
        <a href="{{ url_for('main.profile') }}"> Profile</a>
        <a href="{{ url_for('auth.signup') }}"> Signup </a>
        <a href="{{ url_for('auth.login') }}"> Login </a>
    </nav>
     {% block content %} {% endblock %}
</body>
</html>